<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels</key>
	<array>
		<dict>
			<key>teamsPlaying</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>bases</key>
			<array>
				<dict>
					<key>capacity</key>
					<integer>5</integer>
					<key>regenSpeed</key>
					<real>1</real>
					<key>team</key>
					<integer>4</integer>
					<key>positionX</key>
					<integer>250</integer>
					<key>positionY</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>capacity</key>
					<integer>5</integer>
					<key>regenSpeed</key>
					<real>0.9</real>
					<key>team</key>
					<integer>2</integer>
					<key>positionX</key>
					<integer>350</integer>
					<key>positionY</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>capacity</key>
					<integer>10</integer>
					<key>regenSpeed</key>
					<real>1</real>
					<key>team</key>
					<integer>1</integer>
					<key>positionX</key>
					<integer>50</integer>
					<key>positionY</key>
					<integer>200</integer>
				</dict>
				<dict>
					<key>capacity</key>
					<integer>5</integer>
					<key>regenSpeed</key>
					<real>1.1</real>
					<key>team</key>
					<integer>3</integer>
					<key>positionX</key>
					<integer>150</integer>
					<key>positionY</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>capacity</key>
					<integer>30</integer>
					<key>regenSpeed</key>
					<real>0.9</real>
					<key>team</key>
					<integer>0</integer>
					<key>positionX</key>
					<integer>50</integer>
					<key>positionY</key>
					<integer>80</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
