<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels</key>
	<array>
		<dict>
			<key>levelName</key>
			<string>Forerunner</string>
			<key>teamsPlaying</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>bases</key>
			<array>
				<dict>
					<key>count</key>
					<integer>20</integer>
					<key>tag</key>
					<integer>101</integer>
					<key>capacity</key>
					<integer>50</integer>
					<key>regenSpeed</key>
					<real>1</real>
					<key>team</key>
					<integer>0</integer>
					<key>positionX</key>
					<integer>50</integer>
					<key>positionY</key>
					<integer>280</integer>
				</dict>
				<dict>
					<key>count</key>
					<integer>13</integer>
					<key>tag</key>
					<integer>102</integer>
					<key>capacity</key>
					<integer>35</integer>
					<key>regenSpeed</key>
					<real>1</real>
					<key>team</key>
					<integer>0</integer>
					<key>positionX</key>
					<integer>70</integer>
					<key>positionY</key>
					<integer>200</integer>
				</dict>
				<dict>
                    <key>count</key>
					<integer>50</integer>
					<key>tag</key>
					<integer>103</integer>
					<key>capacity</key>
					<integer>70</integer>
					<key>regenSpeed</key>
					<real>1</real>
					<key>team</key>
					<integer>2</integer>
					<key>positionX</key>
					<integer>50</integer>
					<key>positionY</key>
					<integer>75</integer>
				</dict>
				<dict>
                    <key>count</key>
					<integer>18</integer>
					<key>tag</key>
					<integer>104</integer>
					<key>capacity</key>
					<integer>40</integer>
					<key>regenSpeed</key>
					<real>1</real>
					<key>team</key>
					<integer>0</integer>
					<key>positionX</key>
					<integer>225</integer>
					<key>positionY</key>
					<integer>80</integer>
				</dict>
				<dict>
                    <key>count</key>
					<integer>9</integer>
					<key>tag</key>
					<integer>105</integer>
					<key>capacity</key>
					<integer>25</integer>
					<key>regenSpeed</key>
					<real>1</real>
					<key>team</key>
					<integer>0</integer>
					<key>positionX</key>
					<integer>280</integer>
					<key>positionY</key>
					<integer>65</integer>
				</dict>
				<dict>
                    <key>count</key>
					<integer>19</integer>
					<key>tag</key>
					<integer>106</integer>
					<key>capacity</key>
					<integer>36</integer>
					<key>regenSpeed</key>
					<real>1</real>
					<key>team</key>
					<integer>0</integer>
					<key>positionX</key>
					<integer>400</integer>
					<key>positionY</key>
					<integer>150</integer>
				</dict>
				<dict>
                    <key>count</key>
					<integer>59</integer>
					<key>tag</key>
					<integer>107</integer>
					<key>capacity</key>
					<integer>70</integer>
					<key>regenSpeed</key>
					<real>1</real>
					<key>team</key>
					<integer>1</integer>
					<key>positionX</key>
					<integer>375</integer>
					<key>positionY</key>
					<integer>280</integer>
				</dict>
				<dict>
                    <key>count</key>
					<integer>23</integer>
					<key>tag</key>
					<integer>108</integer>
					<key>capacity</key>
					<integer>45</integer>
					<key>regenSpeed</key>
					<real>1</real>
					<key>team</key>
					<integer>0</integer>
					<key>positionX</key>
					<integer>310</integer>
					<key>positionY</key>
					<integer>290</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>levelName</key>
			<string>Derelict</string>
			<key>teamsPlaying</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>bases</key>
			<array>
				<dict>
					<key>tag</key>
					<integer>0</integer>
					<key>capacity</key>
					<integer>5</integer>
					<key>regenSpeed</key>
					<real>1</real>
					<key>team</key>
					<integer>4</integer>
					<key>positionX</key>
					<integer>250</integer>
					<key>positionY</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>tag</key>
					<string>1</string>
					<key>capacity</key>
					<integer>5</integer>
					<key>regenSpeed</key>
					<real>0.9</real>
					<key>team</key>
					<integer>2</integer>
					<key>positionX</key>
					<integer>350</integer>
					<key>positionY</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>tag</key>
					<string>2</string>
					<key>capacity</key>
					<integer>10</integer>
					<key>regenSpeed</key>
					<real>1</real>
					<key>team</key>
					<integer>1</integer>
					<key>positionX</key>
					<integer>50</integer>
					<key>positionY</key>
					<integer>200</integer>
				</dict>
				<dict>
					<key>tag</key>
					<string>3</string>
					<key>capacity</key>
					<integer>5</integer>
					<key>regenSpeed</key>
					<real>1.1</real>
					<key>team</key>
					<integer>3</integer>
					<key>positionX</key>
					<integer>150</integer>
					<key>positionY</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>tag</key>
					<string>4</string>
					<key>capacity</key>
					<integer>30</integer>
					<key>regenSpeed</key>
					<real>0.9</real>
					<key>team</key>
					<integer>0</integer>
					<key>positionX</key>
					<integer>50</integer>
					<key>positionY</key>
					<integer>80</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
